html body {
	height: 100%;
}

body {
	margin: 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url('../img/main_bg.png');
	background-repeat: no-repeat;
}

#dev {
	width: 100%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #ADD8E6;
}

#title {
	margin-top: 100px;
	margin-bottom: 50px;
}

.center-div {
	background-image: url('../img/center_div_bg.png');
	background-repeat: no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 600px !important;
	margin-top: 40px;
}

.menu-buttons {
	margin-top: 40px;
}

#user {
	background-image: url('../img/userinfo.png');
	margin-top: 80px;
	height: 230px;
	width: 200px;
}

#user #photo {
	position: relative;
	top: 15px;
	left: 69px;
	height: 120px;
	width: 120px;
}

#menu {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#menu .row {
	margin-bottom: 20px;
}

