html, body {
	height: 100%;
}

body {
	background: rgb(226,191,154); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(226,191,154,1) 20%, rgba(215,175,141,1) 50%, rgba(200,159,134,1) 62%, rgba(169,131,122,1) 81%, rgba(129,109,115,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,rgba(226,191,154,1)), color-stop(50%,rgba(215,175,141,1)), color-stop(62%,rgba(200,159,134,1)), color-stop(81%,rgba(169,131,122,1)), color-stop(99%,rgba(129,109,115,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(226,191,154,1) 20%,rgba(215,175,141,1) 50%,rgba(200,159,134,1) 62%,rgba(169,131,122,1) 81%,rgba(129,109,115,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(226,191,154,1) 20%,rgba(215,175,141,1) 50%,rgba(200,159,134,1) 62%,rgba(169,131,122,1) 81%,rgba(129,109,115,1) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(226,191,154,1) 20%,rgba(215,175,141,1) 50%,rgba(200,159,134,1) 62%,rgba(169,131,122,1) 81%,rgba(129,109,115,1) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(226,191,154,1) 20%,rgba(215,175,141,1) 50%,rgba(200,159,134,1) 62%,rgba(169,131,122,1) 81%,rgba(129,109,115,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2bf9a', endColorstr='#816d73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin: 0;
}

#dev {
	width: 100%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #ADD8E6;
}

.view {
	display: none;
}

.title {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	font-size: 48px;
	color: white;
	margin-top: 40px;
	margin-bottom: 20px;
	left: 50px;
	top: 100px;
	-webkit-animation: glow 0.5s linear 0s infinite alternate; /* Chrome, Safari, Opera */
    animation: glow 0.5s linear 0s infinite alternate; /* Standard syntax */
}

.sub-page-title {
	margin-top: -20px;
	margin-left: 20px;
}

.center-div {
	background-color: rgb(255,255,255,0.3);
	min-height: 600px !important;
	margin-top: 40px;
}

.menu-buttons {
	margin-top: 40px;
}

#user {
	background-image: url('../img/userinfo.png');
	margin-top: 80px;
	height: 230px;
	width: 200px;
}

#user #photo {
	position: relative;
	top: 15px;
	left: 69px;
	height: 120px;
	width: 120px;
}

#menu {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#menu .row {
	margin-bottom: 20px;
}

#events-container {
	position: absolute;
	margin-top: 150px;
	margin-left: -15px;
}

#monthly-container {
	position: absolute;
	margin-top: 70px;
	margin-left: -15px;
}

#daily-container {
	position: absolute;
	margin-top: 150px;
	margin-left: -15px;
}

.fb-like {
	position: absolute;
	margin-top: 10px;
	margin-bottom: 30px;
	left: 20px;
}

/* For Log In Page */
#logo
{
	margin: 10px;
}
#login-page
{
	opacity: 0.5;
	width: 40%;
	min-width: 300px;
	height: 350px;
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 20px;
	background-color: white;
}
#header
{
	text-align: center;
	margin: 20px;
	font-size: 30px;
	font-weight: bold;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
}

#login-page .intro
{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	text-align: justify;
	font-size: 16px;
	font-weight: lighter;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#fb-login
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: solid 1px grey;
	padding-top: 10px;
	padding-left: 40px;
}
#fb-login:hover
{
	border: solid 4px grey;
	padding-top: 8px;
	padding-left: 38px;
}
 #fb-login a
{
	font-size:60px; 
	font-weight:bold;
}
#fb-login a:hover
{
	text-decoration: none;
}

/* Loading style css */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .2 ) 
                url('../img/load.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

/* side bar */
.sidebar
{
	position: fixed !important;
    top: 0;
	height: 100%;
	background-color: white;
	opacity: 0.4;
  	box-shadow: -2px 2px 6px grey;
  	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.sidebar .intro
{
	padding-left: 10px;
	padding-right: 20px;
	margin-top: 200px;
	font-size: 16px;
	text-align: right;
}
.sidebar .footer
{
	font-size: 12px;
	text-align: right;
	padding:10px;
	color: grey;
	position: fixed;
	bottom: 3px;
	/*font-weight: lighter;*/
}

/* Menu Animation */
.Object, .ObjectContainer a {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.ObjectContainer {
	width: 300px;
	height: 220px;
	float: left;

	position: relative;
	overflow:hidden;
}
.ObjectContainer img{
	max-width: 100%;
	height: auto;
}
.ObjectContainer .Object {
	display: block;
	width: 100%;
	height: 100%;
}
.ObjectContainer a {
	position: absolute;
	bottom: -300px;
	left: 0;
	opacity: 0;
	width: 100%;
	line-height: 0px;
	text-align: center;
	vertical-align: middle;
}

.ObjectContainer:hover .Object {
	margin: 2.5%;
	height: 105%;
	width: 105%;
}

.ObjectContainer:hover a {
  	opacity: 0.5;
  	bottom: 50;
  	font-size: 16px;
  	line-height: 18px;
  	color: white;
  	width: 250px;
  	text-align: justify;
  	text-decoration: none;
  	padding: 25px;
  	background-color: black;
}

/* icon list */
.iconlist
{
	position: absolute;
	margin-left: 120px;
}
.imgWrap {
  position: relative;
  height: 50px;
  width: 8px;
  margin-top: 15px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: right;
  padding:10px;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  left: -550px;
}
.icon{
	width: 50px;
	height: 50px;
	opacity: 0.7;
}
.icon:hover
{
	opacity: 1;
}

/*Timeline*/
.timeline {
	width: 65%;
	float: right;
	position: relative;
	border-left: dotted 3px white;
}

.timeline li {
	display: block;
}

.arrow {
	width: 140px;
	height: 50px;
	border-bottom-left-radius: 25px;
	border-bottom: 3px dotted white;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	text-align: center;
	font-size: 36px;
}

.rightarrow{
	margin-left: -25px;
}

.leftarrow{
	margin-left: -180px;
}

.leftarrow a{
	margin-left: 0;
}

.arrow span {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 18px;
	font-weight: lighter;
}

.no-content{
	height: auto;
	width: 10%;
	padding: 20px;
	padding-left: 50px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	margin-left: -250px;
	text-align: right;
}

.display{
	height: auto;
	width: 90%;
	padding: 20px;
	padding-left: 50px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 18px;
	font-weight: lighter;
}

.no-content {
	height: auto;
	width: 30%;
	padding: 20px;
	padding-left: 50px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 18px;
	font-weight: lighter;
}
